# Composer
/vendor/
/composer.phar
/auth.json
/composer.lock

# PHPUnit
/.phpunit.cache/
/.phpunit.result.cache

# Coverage
/coverage/
/coverage.xml
/clover.xml

# JetBrains IDEs
/.idea/
*.iml

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
